@font-face{
    font-family: "FiraSansCondensed-Bold";
    src: url(FiraSansCondensed-Bold-webfont.woff) format("woff");
    font-family: "RobotoSlab-Bold";
    src: url(RobotoSlab-Bold-webfont.woff) format("woff");
    font-family: "RobotoSlab-Regular";
    src: url(RobotoSlab-Regular-webfont.woff) format("woff")

}
h2{
    font-family: "FiraSansCondensed-Bold";
    font-size: 90px;
    color: #014262;
    padding:15px;
    background-color: #fbf7eb
}
#firstline{
    font-family: "RobotoSlab-Bold";
    font-size: 16px;
    color: #014262

}
p{
    font-family: "RobotoSlab-Regular";
    font-size: 12.31px;
    color: #4e4e4e
}
section{
    display: flex;
    flex-direction: column
}

